@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  user-select: none;

}

:root {
  --color-main: #50abfa;
}

Html {
  scroll-behavior: smooth;
}

.blue {
  color: var(--color-main);
}

.title {
  font-size: 5rem;
  text-align: center;
}

.sub_title {
  font-size: 3rem;
  text-align: center;
}

.description {
  font-size: 2rem;
}

.sub_description {
  font-size: 1.2rem;
}

@media(max-width:700px) {
  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.5rem;
  }
}

@media(max-width:350px) {
  .title {
    font-size: 2.5rem;
  }

  .sub_title {
    font-size: 2rem;

  }
}